* {
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;
    margin: 0px;
    padding: 0px;
    user-select: none;
    transition: 0.5s;
}

.head{
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.container{
    background-color: white;
    min-height: 50px;
    padding: 8px;
    display: flex;
    gap: 1rem;
    justify-content: space-around;
    align-items: center;
    
    
}

.logo{
    padding: 5px;
    width: 189px;
}

.cart-circle::before {
    content: "4";
    color: white;
    font-size: 13px;
    display: flex;
    position: absolute;
    right: 177px;
    bottom: 23px;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    border-radius: 100px;
    background-color: red;
    border: 2px solid white;
    top: 15px;
    right: 305px;
}

.nav-center a {
    padding: 10px 15px 10px 15px;
    color: black;
    text-decoration: none;
    font-weight: bold;
    /* border: 1px solid black; */
}

i{
  color: gray;
  margin: 2px;  
  padding: 5pX;
}

main {
    display: block;
    margin: 94px;
}

h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 2.6700000000000017em;
    margin-block-end: 0.67em;
    margin-inline-start: 122px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.content {
    display: flex;
    gap: 15px;
}

.card-left {
    display: flex;
    flex-direction: column;
    /* border: 2px solid black; */
    flex-basis: 45%;
    gap: 30px;
}
.card-top, .card-bottom {
    width: 100%;
    height: 190px;
    background-color: white;
    box-shadow: 2px 5px 10px rgb(211, 211, 211);
    border-radius: 20px;
    display: flex;
    align-items: center;
}
.card-top a > i, .card-bottom a > i {
    color: #00DBB6;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #00DBB6;
    width: 30px;
    height: 30px;
    border-radius: 100px;
}
.gg-doc {
    width: 145px;
    height: 145px;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 2%;
    border-radius: 20px;
    background: linear-gradient(34deg, rgb(16, 67, 157) 0%, rgb(21, 100, 236) 56%, rgba(152,207,255,1) 95%),url(https://donutll40.github.io/snru-job-passcard-cart-cca/static/images/product.png);
    background-position: 50% 130%;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: screen;
}
.file-doc {
    width: 25px;
    height: 25px;
    margin-top: 20px;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(32,95,176,1);
    background-color: white;
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.c-top-r i, .c-bottom-r i {
    color: gainsboro;
    margin: 2px;
}
.fa-solid, .fas {
    font-weight: 900;
}
select {
    cursor: pointer;
    color: rgb(112, 112, 112);
    border: none;
    font-size: 15px;
    font-weight: 600;
    height: 30px;
    width: 80px;
    border-radius: 8px;
    margin-left: 5px;
    padding-left: 10px;
}

.price {
    margin-top: 16px;
    font-family: 'Ubuntu';
    color: rgb(112, 112, 112);
}
.price label {
    font-size: 17px;
    font-weight: 500;
}
.fa-circle:before {
    content: "\f111";
}

select:focus {
    outline: 1px solid #008c74;
}
.card-top a > i, .card-bottom a > i {
    color: #00DBB6;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #00DBB6;
    width: 30px;
    height: 30px;
    border-radius: 100px;
}
.gg-slid {
    width: 145px;
    height: 145px;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 2%;
    border-radius: 20px;
    background-image: linear-gradient(28deg, rgba(227,101,28,1) 0%, #fbbc04 66%, rgb(255, 234, 172) 90%),url(https://donutll40.github.io/snru-job-passcard-cart-cca/static/images/product.png);
    background-position: 50% 130%;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: screen;
}
.file_slid {
    width: 25px;
    height: 25px;
    margin-top: 20px;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(227,101,28,1);
    background-color: white;
}
.fa-regular, .far {
    font-weight: 400;
}
.c-top-r i, .c-bottom-r i {
    color: gainsboro;
    margin: 2px;
}
.fa-circle:before {
    content: "\f111";
}
.card-right {
    display: flex;
    flex-direction: column;
    flex-basis: 55%;
    height: 700px;
    /* border: 2px solid black; */
}
.card-main {
    display: flex;
    flex-direction: column;
    /* border: 2px solid black; */
    flex-basis: 50%;
    box-shadow: 2px 5px 10px rgb(211, 211, 211);
    border-radius: 20px;
    padding: 30px;
    
}


.order {
    font-size: 25px;
    font-weight: bold;
}


.sub-total {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    margin-top: 10px;
    padding-right: 20px;
    color: rgb(101, 101, 101);
}
.promo {
    width: 100%;
    padding: 20px;
    padding-left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.promo i {
    font-size: 25px;
    color: #00DBB6;
}
.promo input[type=text] {
    width: 65%;
    height: 45px;
    font-size: 16px;
    padding-left: 10px;
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    font-weight: 600;
    color: rgb(94, 94, 94);
}

.promo button {
    width: 25%;
    height: 45px;
    color: #00DBB6;
    font-size: 16px;
    font-weight: 600;
    border-radius: 15px;
    border: 2px solid #00DBB6;
    background-color: transparent;
}

.c-main-bottom {
    margin-top: 10px;
    padding: 10px;
}

.c-main-top .name {
    padding-left: 10px;
    font-size: 18px;
    color: gray;
    font-weight: 600;
}

.total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.total h1 {
    color: #00DBB6;
}

.c-main-bottom , button {
    width: 100%;
    height: 45px;
    color: white;
    font-size: 16px;
    font-weight: 600;
    background-color: #00DBB6;
    border-radius: 15px;
    border: none;
    box-shadow: 2px 5px 10px rgb(211, 211, 211);
}
